/**************************************
 *
 *  Licensed Materials - Property of IBM
 *  © Copyright IBM Corporation 2015. All Rights Reserved.
 *  This sample program is provided AS IS and may be used, executed, copied and modified without royalty payment by customer
 *  (a) for its own instruction and study, (b) in order to develop applications designed to run with an IBM product,
 *  either for customer's own internal use or for redistribution by customer, as part of such an application, in customer's
 *  own products.
 *
 ***************************************/
$green-30: #8cd211;
$green-40: #5aa700;
$white: #fff;
$orange-30: #ff7832;
$yellow-30: #efc100;
$orange-40: #ff5003;
$yellow-40: #be9b00;
$neutral-cool-3: #f0f2f4;
$cool-gray-20: #c8d2d2;
$cool-gray-30: #aeb8b8;
$cool-gray-60: #a0a0a0;
$cool-gray-70: #3c4646;
$cool-gray-90: #0d1111;
$offer-grey: #f7f5f5;
$dark-grey: #5a6464;
